* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* Styling the body */
body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    font-family: Arial, sans-serif;
    color: #130101;
}

/* The div containing the search field */
.search-box {
    width: 600px;
    height: auto;
    background: #f4ac8233;
    border-radius: 5px;
    margin: 200px auto 0;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f6dcc9;
    border-radius: 5px;
    border: 1px solid #ad5454;
}

input {
    flex: 1;
    height: 50px;
    background: 50px;
    border: 0;
    outline: 0;
    font-size: 20px;
    color: #333;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: #555;
}


/* Checks for overflow of contents */
.result-box {
    max-height: 400px;
    overflow-y: scroll;
}

.result-box ul {
    border-top: 1px solid #333;
    padding: 15px 10px;
}

.result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: #feb47b;
}